*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EDF3F8;
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 24px;
}